/* Top header for intro */

.header {
    width: 100%;
    background-color: black;
    color: white;
    font-size: 50px;
    text-align: center;
}

/* Horizontal navigation bar */
.horizontalnav {
    display: inline;
    background-color: cornflowerblue;
    color: white;
    position: absolute;
    top: 0px;
}

/* Setting fieldset and form styling and layout */
.form {
    width: 50%;
    margin: auto;
    color: white;
}
.form legend {
    background-color: cornflowerblue;
}
.form fieldset{
    background-color: deepskyblue;
}

/* Form styling */

.textbox {
    width:50%;
}
